* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered,
.roomCard h2,
.roomCard .join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

#submit-button,
.btn {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 20px 10px;
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
